<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSRFklqPa45JixiLea2OeihXe5CaegM1c</string>
	<key>GCM_SENDER_ID</key>
	<string>678690144211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.locale.localeios</string>
	<key>PROJECT_ID</key>
	<string>locale-e7a62</string>
	<key>STORAGE_BUCKET</key>
	<string>locale-e7a62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678690144211:ios:0b0fa67ff29d344ae53926</string>
</dict>
</plist>